php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: Kozak\Tomas\App\*Module\Presenters\*Presenter

session:
	autoStart: true
	savePath: %tempDir%/sessions

services:
	routerFactory: Kozak\Tomas\App\Router\RouterFactory
	router: @routerFactory::createRouter
	- Kozak\Tomas\App\Model\Mailer(::\getenv('SENDGRID_API_KEY'))
	- Kozak\Tomas\App\Model\CaptchaService
	- Kozak\Tomas\App\Model\AgeCalculator