php:
	date.timezone: Europe/Prague



application:
	errorPresenter: Error
	mapping:
		*: Kozak\Tomas\App\*Module\Presenters\*Presenter

session:
	autoStart: true
	savePath: %tempDir%/sessions

services:
	routerFactory: Kozak\Tomas\App\Router\RouterFactory
	router: @routerFactory::createRouter
	- Kozak\Tomas\App\Model\Mailer(%discord_webhook_url%)
	- Kozak\Tomas\App\Model\CaptchaService
	- Kozak\Tomas\App\Model\AgeCalculator
	- Kozak\Tomas\App\Model\LiveService(%live_file%, %live_token%)
