<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Tomas Kozak"/>

    <title>{include title} | Tomas Kozak</title>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="description"
          content="Tomas Kozak - programmer, developer, speaker, devops, platform. You can find more information on website https://kozak.in.">
    <meta name="keywords" content="tomas, kozak, tomas kozak, developer, programmer, php, docker, kubernetes, go">

    {* StyleSheets *}
    <link n:nonce rel="stylesheet" href="{$basePath}/css/ionicons.min.css">
    <link n:nonce rel="stylesheet" href="{$basePath}/css/bootstrap/bootstrap.min.css">
    <link n:nonce rel="stylesheet" href="{$basePath}/css/font-awesome.min.css">
    <link n:nonce rel="stylesheet" href="{$basePath}/css/main.css">
    <link n:nonce rel="stylesheet" href="{$basePath}/css/style.css">
    <link n:nonce rel="stylesheet" href="{$basePath}/css/responsive.css">

    {* FontsOnline *}
    <link n:nonce href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    {* JavaScripts *}
    <script n:nonce src="{$basePath}/js/vendors/modernizr.js"></script>

    {ifset header}{include header}{/ifset}

    {* favicons *}
    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {* HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries *}
    {* WARNING: Respond.js doesn't work if you view the page via file:// *}
    <!---
    [if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]
    -->
</head>
<body>
{block|strip}
    {* Page Wrapper *}
    <div id="wrap">

        {* Content *}
        <main class="cd-main-content">
            <div id="content">
                <div class="resume">
                    <div class="container">

                        <nav class="no-print">
                            {* Brand and toggle get grouped for better mobile display *}
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#nav-tabis" aria-expanded="false"><span class="tittle">MENU</span>
                                <span
                                        class="fa fa-navicon icon-nav"></span></button>
                            {* Collect the nav links, forms, and other content for toggling *}
                            <div class="collapse navbar-collapse" id="nav-tabis">
                                <ul class="isop-filter main-nav">
                                    <li n:class="$presenter->isLinkCurrent('Homepage:default') ? active">
                                        <a n:href="Homepage:default"><i class="icon-user"></i>
                                            ABOUT ME
                                        </a>
                                    </li>

                                    <li n:class="$presenter->isLinkCurrent('Homepage:resume') ? active">
                                        <a n:href="Homepage:resume"><i class="icon-user"></i>
                                            RESUMÉ
                                        </a>
                                    </li>

                                    <li n:class="$presenter->isLinkCurrent('Homepage:contact') ? active">
                                        <a n:href="Homepage:contact"><i class="icon-pencil"></i>
                                            CONTACT
                                        </a>
                                    </li>

                                    <li n:class="$presenter->isLinkCurrent('Homepage:setup') ? active">
                                        <a n:href="Homepage:setup"><i class="icon-notebook"></i>
                                            MY SETUP
                                        </a>
                                    </li>

                                    <li n:class="$presenter->isLinkCurrent('Homepage:talks') ? active">
                                        <a n:href="Homepage:talks"><i class="icon-speech"></i>
                                            TALKS
                                        </a>
                                    </li>


                                    {* <li><a href="blog.html"><i class="icon-note"></i>BLOG</a></li> *}
                                    {* <li><a id="cd-menu-trigger" href="#."><span class="cd-menu-icon"></span></a></li> *}
                                </ul>
                            </div>
                        </nav>

                        {* Resume *}
                        <div class="row">

                            <div n:if="$flashes" class="col-md-12">
                                <div class="inside-sec">
                                    {foreach $flashes as $flash}
                                        <div id="contact_message" class="success-msg">
                                            <i class="fa fa-paper-plane-o"></i>
                                            {$flash->message}
                                        </div>
                                    {/foreach}
                                </div>
                            </div>

                            {include content}

                            {* Sidebar *}
                            <div class="col-md-4">
                                <div class="side-bar">

                                    {* Professional Details *}
                                    <h5 class="tittle">Professional Details</h5>
                                    <img src="{$basePath}/images/me.jpg" class="img-responsive" alt="Tomas photo">
                                    <ul class="personal-info">
                                        <li>
                                            <p><span> Name</span> Tomáš Kozák </p>
                                        </li>
                                        <li>
                                            <p><span> Age</span> {$age} </p>
                                        </li>
                                        <li>
                                            <p><span> Location</span> Brno, Czech Republic </p>
                                        </li>
                                        <li>
                                            <p><span> Experience</span> {$age - 18} Years</p>
                                        </li>
                                        <li>
                                            <p><span> Phone</span> +420 730996957 </p>
                                        </li>
                                        <li>
                                            <p><span> E-mail</span> <a href="mailto:kozak@talko.cz"> kozak@talko.cz</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p><span> Website</span><a href="https://kozak.in"> kozak.in </a></p>
                                        </li>
                                        <li>
                                            <p><span> IČO</span>09645870</p>
                                        </li>
                                        <li>
                                            <p><span> DIČ</span>CZ9104214020</p>
                                        </li>
                                    </ul>

                                    {* Social Profiles *}
                                    <h5 class="tittle no-print">Social Profiles</h5>
                                    <div class="social-icon bor-btm padding-25 no-print">
                                        <ul>
                                            <li><a target="_blank" href="https://www.facebook.com/kozaktomas"> <i
                                                            class="fa fa-facebook"></i></a></li>
                                            <li><a target="_blank"
                                                   href="https://www.youtube.com/channel/UCay_ox98cvBTVueup7dvm2g?view_as=subscriber">
                                                    <i class="fa fa-youtube"></i></a></li>
                                            <li><a target="_blank" href="https://twitter.com/kozaktomas"> <i
                                                            class="fa fa-twitter"></i></a></li>
                                            <li><a target="_blank" href="https://www.linkedin.com/in/kozakt/"> <i
                                                            class="fa fa-linkedin"></i></a></li>
                                            <li><a target="_blank" href="https://join.skype.com/invite/o35KI34Q1ygQ"> <i
                                                            class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>

                                    <div class="social-icon bor-btm padding-25 no-print">
                                        <ul>
                                            <li><a target="_blank" href="https://github.com/kozaktomas"> <i
                                                            class="fa fa-github"></i></a></li>
                                            <li><a target="_blank" href="https://gitlab.com/kozaktomas"> <i
                                                            class="fa fa-git"></i></a></li>
                                            <li><a target="_blank"
                                                   href="https://bitbucket.org/%7B97f8c603-5302-4f71-88a3-06e993454747%7D/">
                                                    <i class="fa fa-bitbucket"></i></a></li>
                                            <li><a target="_blank" href="https://keybase.io/tomaskozak"> <i
                                                            class="fa fa-key"></i></a></li>
                                            <li><a target="_blank"
                                                   href="https://open.spotify.com/user/11158626774?si=KsNE-4psSaqWgZ-I3gMxUA">
                                                    <i class="fa fa-spotify"></i></a></li>
                                        </ul>
                                    </div>

                                    {* Contact Me 
                                    <h5 class="tittle">Contact Me</h5>
                                    <div class="contact padding-25">

                                        {form contactForm id=>'contact_form', class=>'contact-form'}
                                            {if $form->hasErrors()}
                                                {foreach $form->getErrors() as $error}
                                                    <div class="alert alert-danger">
                                                        {$error}
                                                    </div>
                                                {/foreach}
                                            {/if}
                                            <ul class="row">
                                                <li class="col-sm-12">
                                                    <label>
                                                        {input name placeholder=>'Name', class=>'form-control'}
                                                    </label>
                                                </li>
                                                <li class="col-sm-12">
                                                    <label>
                                                        {input email placeholder=>'E-mail', class=>'form-control'}
                                                    </label>
                                                </li>
                                                <li class="col-sm-12">
                                                    <label>
                                                        {input content placeholder=>'Your message', class=>'form-control'}
                                                    </label>
                                                </li>
                                                <li class="col-sm-12">
                                                    {input send class=>'contact-form-button'}
                                                </li>
                                            </ul>

                                        {/form contactForm}
                                    </div>
                                    *}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        {* End Content *}

        {* Footer *}
        <footer class="footer">
            <div class="rights">
                {var $today = new \DateTime()}
                <p>
                    © {$today->format('Y')} Tomas Kozak.
                    <a href="https://gitlab.com/kozaktomas/personal-web" target="_blank">Source code</a>
                </p>
            </div>
        </footer>
        {* End Footer *}

    </div>
    {* End Page Wrapper *}

    {* JavaScripts *}
    <script n:nonce src="{$basePath}/js/vendors/jquery/jquery.min.js"></script>
    <script n:nonce src="{$basePath}/js/vendors/bootstrap.min.js"></script>
    <script n:nonce src="{$basePath}/js/vendors/owl.carousel.min.js"></script>
    <script n:nonce src="{$basePath}/js/vendors/jquery.isotope.min.js"></script>
    <script n:nonce src="{$basePath}/js/main.js"></script>
{/block}
</body>
</html>